/* === Sección Pedido (Main) === */
.scrollFramePedidoModal{
    width: 100%;
    height: 300px;
    overflow-y: auto;

    background: #ddd;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* === Frames de Pedido === */
.informacionDelivery,
.informacionComerAqui{
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
}

.informacionVisibleModal{
    display: block;
}

/* === Elementos de Pedido === */
.tituloPedidoModal{
    margin-top: 50px;
}

.nombreCompradorModal{
    margin-top: 20px;
    font-size: 20px;
}

.labelInformacionPedido{
    color: #555;
    border-bottom: 1px solid #aaa;
    margin-top: 10px;
}

.valorTotalPedidoModal{
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
}