.mainInicio{

    min-width: 100%;
    min-height: 100%;

    display:flex;
    flex-direction: column;
    
}

.tituloframe{
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.framepedidos{

    width: 90%;
    
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 20px;

    border-radius: 5px;
    padding: 10px;

    background: #fff;
    box-shadow: 0 0 7px 1px #1112;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    

}
.scrollframePedidos {
    width: 100%;
    height: 85%;
    background: #eee;
    overflow-x: auto;
    scrollbar-width: thin;
    display: flex;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}
/**/

.frameMesas{

    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 7px 1px #1112;
}
.scrollFrameMesas{

    width: 100%;

    height: 500px;
    overflow-y: auto;
    margin: auto;
    
    margin-bottom: 20px;

    display: grid;
    grid-template-columns:  repeat(auto-fill,200px);
    gap: 20px;
    justify-content: center;
    padding: 40px 0 20px 0;

    background: #eee;
    border-radius: 5px;

    scrollbar-width: none;

}

/**/
.FrameMasVendidos{
    width: 90%;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 5px;
    padding: 10px;

    background: #fff;
    box-shadow: 0 0 7px 1px #1112;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

.scrollframeMasVendidos {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    overflow-x: auto;
    scrollbar-width: thin;
    border-radius: 5px;
}

/**/

@media (max-width : 768px){


.mainInicio{
        
    display: flex;
    flex-direction: column;
    
}
 

.frameResumenes{
    display:inline-flex;
    flex-direction:row;
    width: 67%;              
    margin: 20px auto;       
    padding: 5px;
    justify-content: center; 
    }

  .framepedidos {
      width: 100%;      
      
  }

  .scrollframeMasVendidos{
      max-width: 100%;
  }



    .scrollframeMasVendidos{
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        justify-content: center; /* centrar tarjetas dentro del scroll */
        border: none;
       
    }



    .scrollFrameMesas{

        grid-template-columns:  repeat(auto-fill,150px);

    }

 
}

@media (max-width : 1024px){


.framepedidos{
    width: 100%;
}
    

.frameResumenes {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
}

.frameResumen#productosMasVendidos {
    width: 100%;
    margin: 0 auto;
}
.scrollframeMasVendidos{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    border: none;
    
    
}
}
