.form-page {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--yellow-background-hue);
}

.frame-form {
    width: 40%;
    max-width: 400px;
    
    margin: 30px 0px;

    background: var(--white-hue);

    padding: 40px;

    text-align: center;
    border-radius: 40px;

    box-shadow: 0 0 10px 9px var(--shadow-hue);
}

.frame-form h1 {
    font-size: 40px;
    margin: 0px;
    color: var(--red-hue);
}

.frame-form hr {
    margin: 0% 15%;
}

@media (max-width : 768px){
    .frame-form {
        width: 90%;
    }

    .frame-form h1{
        font-size: 30px;
    }
}
