.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;  
    flex-direction: row;
    background-color: var(--yellow-background-hue);
    transition: transform 0.3s ease;
}

.dashboard-main {
    margin-top: 2rem;

    width: 100%;
    min-height: 100vh;
}

/* Ícono de salida */
.logout-icon {
    position: fixed; /* Fija el ícono en la ventana */
    top: 1rem; /* Espaciado desde la parte superior */
    right: 1rem; /* Espaciado desde la derecha */
    background-color: #ff4d4d; /* Color de fondo */
    border: none; /* Sin bordes */
    border-radius: 50%; /* Forma circular */
    padding: 0.5rem; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    z-index: 100; /* Asegura que esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s ease; /* Transición suave */
    display: flex; /* Centra el ícono */
    align-items: center;
    justify-content: center;
}

.logout-icon:hover {
    background-color: #e60000; /* Color al pasar el mouse */
}

.menu-toggle-button {
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 50;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.menu-toggle-button:hover {
    background-color: var(--red-hue);
}

.menu-toggle-button.sidebar-open:hover {
    background-color: var(--yellow-background-hue);
}

.main {
    flex: 1;
    padding: 0;
    height: 100%;
    
    background-color: var(--yellow-background-hue);
    /* Color de fondo del contenido principal */
}

/* Soporte para pantallas pequeñas */
@media (max-width: 768px) { 
    .dashboard-main {
        margin-top: 0rem; /* Reduce el margen superior */ 
    }
}
