.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;  
    flex-direction: row;
    background-color: var(--yellow-background-hue);
    transition: transform 0.3s ease;
}

.dashboard-main {
    width: 100%;
    min-height: 100vh;
}

.menu-toggle-button {
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 50;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.menu-toggle-button:hover {
    background-color: var(--red-hue);
}

.menu-toggle-button.sidebar-open:hover {
    background-color: var(--yellow-background-hue);
}

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    background-color: var(--red-hue);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 30;
    overflow-y: scroll;
    padding-right: 8px;
    direction: rtl;
    box-shadow: inset -4px 0 10px rgba(0, 0, 0, 0.277);
}

.sidebar::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
    margin: 10px 2px; /* Márgenes del scrollbar */
}

.sidebar::-webkit-scrollbar-track {
    background: rgb(201, 72, 72); /* Color del fondo del scrollbar */
    border-radius: 10px;
    margin: 10px 0; /* Espacio superior e inferior */
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.7); /* Color del scrollbar */
    border-radius: 10px;
    transition: background 0.2s ease;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.9); /* Color del scrollbar al pasar el mouse */
}

.sidebar.open {
    transform: translateX(0);
}

.logo-container {   
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: left; /* Orientar el texto hacia la izquierda */
}

.logo-placeholder { 
    width: 8rem; 
    height: 8rem;
    background-color: var(--dark-red-hue);/* Fondo del logo */
    border-radius: 0.25rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: 700;   /* Color del logo */
    color: var(--yellow-background-hue);    /* Color del texto del logo */
    font-size: 0.875rem;    /* Tamaño de la fuente del logo */
}

.menu-title {
    padding: 0.5rem 3rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--yellow-background-hue);    /* Color del título del menú */
    text-align: left;   /* Orientar el texto hacia la izquierda */
}

.menu-items {
    margin-inline-end: auto;
    margin-left: 2; /* Indentar el submenú */
    margin-top: 2.5rem;
    text-align: auto; /* Orientar el texto hacia la izquierda */
    display: flex; /* Mostrar los elementos del menú en fila */
    flex-direction: column; /* Orientar los elementos del menú en columna */
    gap: 0.10rem;   /* Espacio entre lineas*/
    list-style: none; /* Quitar los puntos de lista */
    align-items: center; /* Centrar los botones del menú */
}

.menu-button {
    width: auto; /* Ajustar el ancho del botón */
    display: flex; /* Mostrar los elementos del menú en fila */
    align-items: center; /* Centrar los elementos del menú */
    justify-content: flex-start; /* Alinear el contenido al principio */
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem; 
    font-size: 0.875rem;
    font-weight: 500; 
    color: var(--yellow-background-hue);    /* Color del texto del botón del menú */
    background: transparent;    /* Fondo transparente del botón del menú */
    border: none; 
    cursor: pointer; 
    transition: background-color 0.2s;  
    text-align: left; /* Orientar el texto hacia la izquierda */
}

.menu-button:hover {
    background-color: var(--dark-red-hue);      /* Color del botón del menú al pasar el mouse */
}

.submenu {
    margin-left: 2rem; /* Indentar el submenú */
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none; /* Quitar los puntos de lista */
    padding: 0;
}

.submenu-button {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    text-align: left; /* Orientar el texto hacia la izquierda */
    font-size: 0.875rem;
    cursor: pointer; 
    transition: background-color 0.2s; 
    color: var(--yellow-background-hue); /* Color del texto del botón del submenú */
    background: transparent; /* Fondo transparente del botón del submenú */
    border: none; 
}

.submenu-button:hover {     /* Color del botón del submenú al pasar el mouse */
    background-color: var(--dark-red-hue);
}

.main {
    flex: 1;
    padding: 0;
    height: 100%;
    
    background-color: var(--yellow-background-hue);
    /* Color de fondo del contenido principal */
}

/* Soporte para pantallas pequeñas */
@media (max-width: 768px) { 
    .sidebar { 
        width: 12rem; /* Ancho del sidebar */ 
    } 

    .menu-title { 
        font-size: 1rem;    
        padding: 0.5rem 2rem; 
    }

    .menu-items {
        margin-inline-end: auto;
        margin-left: 1rem; /* Indentar el submenú */
        margin-top: 1rem;
        text-align: auto; /* Orientar el texto hacia la izquierda */
        display: flex; /* Mostrar los elementos del menú en fila */
        flex-direction: column; /* Orientar los elementos del menú en columna */
        gap: 0.10rem;   /* Espacio entre lineas*/
        list-style: none; /* Quitar los puntos de lista */
        align-items: flex-start; /* Alinear los botones del menú a la izquierda */
    }

    .menu-button {  
        padding: 0.5rem 1rem; 
        font-size: 0.875rem;
        font-weight: 500; 
        color: var(--yellow-background-hue);    /* Color del texto del botón del menú */
        background: transparent;    /* Fondo transparente del botón del menú */
        border: none; 
        cursor: pointer; 
        transition: background-color 0.2s;  
        text-align: left; /* Orientar el texto hacia la izquierda */
        width: 100%; /* Ajustar el ancho del botón */
        display: flex; /* Mostrar los elementos del menú en fila */
        align-items: center; /* Centrar los elementos del menú */
        justify-content: flex-start; /* Alinear el contenido al principio */
    }

    .submenu {
        margin-left: 1rem;
        margin-top: 0.25rem; 
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        list-style: none; /* Quitar los puntos de lista */
        padding: 0;
    }
    
    .submenu-button { 
        padding: 0.25rem 1rem; 
        font-size: 0.875rem;
        color: var(--yellow-background-hue); /* Color del texto del botón del submenú */
        background: transparent; /* Fondo transparente del botón del submenú */
        border: none; 
        cursor: pointer; 
        transition: background-color 0.2s; 
        text-align: left; /* Orientar el texto hacia la izquierda */
        width: 100%; /* Ajustar el ancho del botón */
        display: flex; /* Mostrar los elementos del menú en fila */
        align-items: center; /* Centrar los elementos del menú */
        justify-content: flex-start; /* Alinear el contenido al principio */
    }
    
    
}