.form-page {
    size: 100%;
    margin: 0px;
    padding: 0px;
}

.frame-form {
    font-family:'Segoe UI';

    width: 40%;
    
    background: var(--white-hue);
    
    margin: auto;
    margin-top: 100px;

    text-align: center;
    border-radius: 40px;

    box-shadow: 0 0 10px 9px var(--shadow-hue);
}

.frame-form h1 {
    padding-top: 40px;
    font-size: 40px;
    color: var(--red-hue);
}

.frame-form hr {
    margin: 6% 15%;
}

.input-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 20px;
}

.input-box input {
    margin: 20px;
    height: 30px;
    border-radius: 30px;
    
    border:  solid var(--gray-hue) 2px;
    padding: 10px;

    font-size: 16px;
}

.input-box label {
    font-size: 18px;
    padding: 0 20px;
    font-weight: bold;
}

@media (max-width : 768px){
    .frame-form {
        width: 90%;
    }

    .frame-form h1{
        font-size: 30px;
    }
}