.input-box select{
    height: 50px;
    border-radius: 30px;
    
    border:  solid var(--gray-hue) 2px;
    padding: 10px;

    font-size: 16px;

    transition: border-color .6s ease;
}

.input-note {
    margin-top: 10px;
    color: var(--gray-hue);
}

.input-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.input-row input {
    width: 100%;
}

.simple-selector {
    min-width: 15%;
    height: 30px;
    border-radius: 30px;
    
    border:  solid var(--gray-hue) 2px;
    background-color: var(--white-hue);

    color: var(--gray-hue);
    font-weight: bold;

    font-size: 16px;
}

