
.input-box {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-box select{

    height: 50px;
    border-radius: 30px;
    
    border:  solid var(--gray-hue) 2px;
    padding: 10px;

    font-size: 16px;

    transition: border-color .6s ease;
}

.input-box input {
    height: 30px;
    border-radius: 30px;
    
    border:  solid var(--gray-hue) 2px;
    padding: 10px;

    font-size: 16px;

    transition: border-color .6s ease;
}

.input-box input::placeholder {
    color: var(--gray-hue);
    font-weight: bold;
    
}

.input-box input:focus{

 
    border: var(--bright-red-hue) 2px solid;
  
    outline: none;

}

.input-box label {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.frame-form p {
    margin-left: 10px;
}

.frame-form button {
    margin: 10px 0px;
}

.input-note {
    margin-top: 10px;
    color: var(--gray-hue);
}

.input-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.input-row input {
    width: 100%;
}

.simple-selector {
    min-width: 15%;
    height: 30px;
    border-radius: 30px;
    
    border:  solid var(--gray-hue) 2px;
    background-color: var(--white-hue);

    color: var(--gray-hue);
    font-weight: bold;

    font-size: 16px;
}

@media (max-width : 768px){
    .frame-form {
        width: 90%;
    }

    .frame-form h1{
        font-size: 30px;
    }
}
