.submit-button {
    width: 80%;
    height: 50px;
    margin: 20px 0;
    cursor: pointer;

    border-radius: 30px;

    border: none;
    background: var(--red-hue);

    color: var(--white-hue);
    font-size: 20px;
    font-weight: bold;
}