.table-page-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-top: 2rem; 
  padding-left: 12rem;
}

.table-page-header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-right: 30rem;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 350px;
  margin-left: 5;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
}

.search-button {
  padding: 0.6rem 1.5rem;  
  margin-left: 0.5rem;
  border: none;
  background-color: #B22222;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #a72121;
}

.table-container {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  width: 80%;
  overflow-x: auto;
}

.new-button {
  padding: 0.5rem 0.9rem;
  margin-left: -10rem;
  background: #ce2525;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 1rem;
  transition: background 0.3s ease;
}

.new-button:hover {
  background: #b30000;
}
.control-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.control-table th,
.control-table td {
  border: 1px solid #ce2525;
  padding: 0.75rem;
  text-align: left;
}

.control-table th {
  background-color: #ce2525;
  font-weight: bold;
}

.control-table tr {
  background-color: #ffffff;
}

.action-button {
  color: #9ca3af;
  transition: color 0.2s;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button:hover {
  color: #4b5563;
}

.action-buttons-container {
  display: flex;
  flex-direction: row;
}



@media (max-width: 480px) {
  .table-page-header {
    flex-direction: column;
    align-items: flex-end; /* Alinea el contenido a la derecha */
    padding-left: 1rem;
  }

  .table-page-header h1 {
    margin-bottom: 1rem;
    margin-right: 5rem; /* Ajusta el margen derecho para que coincida con el botón */
    padding-left: 0;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    text-align: right; /* Alinea el título a la derecha */
  }

  .search-container {
    width: 90%; /* Ajusta el ancho de la barra de búsqueda */
    padding: 0.5rem;
    margin-bottom: 1rem; /* Añade un margen inferior para separar la barra de búsqueda del contenido */
    margin-right: -80px; /* Añade un margen derecho para evitar que el botón de búsqueda se superponga con el contenido */
    
  }

  .table-container {
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
  }

  .control-table {
    width: 100%;
    min-width: 100%;
  }

  .control-table th,
  .control-table td {
    padding: 0.5rem;
  }

  .control-table th {
    font-size: 0.875rem;
  }

  .control-table td {
    font-size: 0.875rem;
  }
}