.submit-button {
    width: 50%;
    height: 50px;

    cursor: pointer;

    border-radius: 30px;

    border: none;
    background: var(--red-hue);

    color: var(--white-hue);
    font-size: 20px;
    font-weight: bold;
}

.go-back-button {
    display: inline-block;
    width: 50%;
    height: 50px;
    line-height: 50px; 

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
    color: inherit;

    border-radius: 30px;
    border: 1px solid var(--black-hue); 
    background: none;

    cursor: pointer;
}

.primary-button {
    padding: 0.7rem 0.9rem;

    background: var(--red-hue);
    color: white;

    border: none;
    border-radius: 8px;
    
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: 500;
}
