
.mainTarjetaInformacion{


    display: flex;
    flex-direction: column;
    width: 90%;

    margin: auto;

    border-bottom: 1px solid #111;
    
    margin-bottom: 12px;
    
}


.tituloTarjeta{

    font-size: 18px;
    font-weight: bold;

}

.precioTotalProducto{

    display: grid;
    grid-template-columns: 1fr auto;

    margin-top: 6px;
    
    

}

.cantidadProductoTarjeta{

    color: #333;

}

.precioTotalProductoTexto{

    font-size: 16px;
    font-weight: bold;

}

.contenidoTarjetaNota {
    color: #333;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin: 8px 0;
    padding: 4px 0;
    width: 100%;
    box-sizing: border-box;
}

