

.mainInformacionDeVenta{

    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
   

}

.frameInputInformacionVenta{

    display: flex;
    flex-direction: column;
    width: 540px;
    padding: 25px;
    margin: auto;

    border-radius: 30px;

    background: #fff;
    border: 2px #ddd solid;
    
    

}

.inputInformacionVenta{

    width: 90%;
    height: 41px;
    border-radius: 8px;

    border: solid 2px #999;
    padding: 6px;
    margin: 2px 0 20px 10px ;

    font-size: 16px;
    

}

.informacionExtra{

    display: none;
    flex-direction: column;

}

.tituloFormVenta{

    border-bottom: solid #ccc 2px;
    width: 60%;
    text-align: center;
    align-self: center;

 
    
    margin-bottom: 30px;
    margin-top: 10px;

}

.tituloInputVenta{

    font-size: 18px;
    margin: 10px 0;
    color: #666;

}

#tituloInformacionDeVenta{


    text-align: end;
    width: 97%;


    background: transparent;
    margin: 10px;

}


.informacionVisible{

    display: block;

}

#formularioInformacionDeVenta{

    display: grid;
    grid-template-rows: 1fr auto;

}

.frameBotones{

    margin-bottom: 20px;

}


@media (max-width : 768px){

  

    .frameInputInformacionVenta{

        width: 90%;
        margin: auto;
        border-radius: 20px;
        
        padding: 10px;
        box-sizing: border-box;


    }
    
    .tituloFormVenta{

        width: 80%;
        padding: 6px;
        font-size: 20px;
        
        

    }

   #tituloInformacionDeVenta{

    text-align: center;
    margin: 0;
    margin-bottom: 40px;
   width: 100%;
   margin-top: 10vh;
   


   }

   .tituloInputVenta{

    margin-left: 20px;

   }

   

}