/*Nota*/

.mainPedido{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    

    
}



*{

    margin: 0;
    padding: 0;

    

}


#tituloPedido{
    text-align: end;
    width: 97%;


    background: transparent;
    margin-bottom: 20px;

   

}

#nota , .btnPedido, .btnEsconder {

    border-radius: 30px;
    

    background: var(--red-hue);
    color: #fff;
    border: none;

    font-weight: bold;
    cursor: pointer;

}

.btnPedido:hover{

    background: var(--bright-red-hue);
    


}

.contenedorFramesPedido{

  display: flex;
  flex-direction: row;
  width: 100%;

  
  
  
  


}



.tituloPedido{

    font-size: 30px;
    margin: 0;
    
    
    box-shadow: 0px 10px 20px 1px #5552;
    padding: 10px;
    

    border-bottom: solid #bbb 2px;

}

#tituloPedido{
    margin: 10px;
}

.framePedido{

    background: #eee;
    width: 30%;
    height: 590px;
    margin: auto;
    
    max-height: 600px;
    border-radius: 20px;

    

}

.scrollFrame{

    margin: auto;
    margin-top: 20px;
    height: 76%;
    width: 90%;
    background: transparent;



    overflow-y:scroll;
    overflow-x: hidden;
    
}

#scrollFrameProductos{

    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap: 7px;
    

    justify-content: center;
    width: 99%;
    padding: 20px 0;
    box-sizing: border-box;

}

.frameSegmentedButtonsPedidos{

    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: 70px;
    width: 90%;
    max-width: 90%;
    margin: auto;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: hidden;
    

    

}

.segmentedButtonPedidos{
    
    border: none;
    border-right: solid 2px #1114;
    width: 200px;
    height: 40px;
    font-size: 17px;
    padding: 10px;

}

.segmentedButtonPedidos:hover{

    background: #ddd;

}

#frameOrden{

    position: relative;
}

.overlayPedidos{

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000c;
    
    z-index: 10;

}





.frameBotones{
    
    background: transparent;
    width: 100%;
    height: 10vh;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
   

    
}



.btnPedido{

    width: 10%;
    font-size: 18px;
    height: 55px;
    
    margin: 10px;
    text-align: center;

}

#nota{

    width: 120px;
    height: 60px;
    font-size: 16px;
    background: #333;
    box-shadow: 0 4px 6px #0003;


    position: absolute;
    bottom: 30px;
    right: 50px;
    z-index: 2;


    
}

.modalAgregarNota{

    width: 90%;
    height: 240px;
    background: #333;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 2;

  

  
}

.cerrarModalAgregarNota{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    color: #fff;
    background: #222;
    margin: 5px;
    cursor: pointer;
}

.inputNota{

    height: 50%;
    background:#444;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: start;
    resize: none;
    padding: 10px;
    box-sizing: border-box;

    color: #eee;
    font-size: 16px;

}

.aceptarModalAgregarNota{

    height: 40px;
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 20px;
    background: #111;
    color: #eee;
    font-size: 16px;
    

}


#btnCancelar{

    background: transparent;
    color: var(--red-hue);
    border: none;
    

}

#btnCancelar:hover{
    color: var(--bright-red-hue);
   
}

.esconderPedido{
    height: 100%;
    width: 100%;
    
}

#btnEsconder{
    width: 92%;
    margin: auto;
    margin-top: 0;
    border-radius: 40px;
    
    align-items: center;
    height:100%;
    
    font-size: 30px;
    
    font-weight: bold;
    
    display: none;
    color: #fff;
    
    padding: 5px 0;
    background: #333a;
    
   
    

}



#btnEsconder:hover{

   background-color: var(--bright-red-hue);
     

}

#framePlatos{
    width: 68%;
}

@media (min-width: 2560px){
    .framePedido{
        max-height: 900px;
        height: 100%;
    }

    #scrollFrameProductos{
        grid-template-columns: repeat(auto-fill,420px);

        height: 80%;
    }
    .segmentedButtonPedidos{
        font-size: 25px;
    }

    #scrollFramePedido{
        height: 80%;
    }

    #nota{
        width: 220px;
        height: 100px;
        font-size: 25px;
    }

   
}
@media (max-width : 1024px){

    .contenedorFramesPedido{
        max-width: 100vw;
    }

    #framePlatos{

        width: 50%;

    }
    #frameOrden{

        width: 40%;

    }


}

@media (max-width : 768px){

    .mainPedido{

        display: flex;
        flex-direction: column;
        min-height: 100vh;

    }

    .frameSegmentedButtonsPedidos{

        padding:  12px 0;
        
        overflow-x: auto;

    }

    .segmentedButton{

        font-size: 30px;
       
    }

    #tituloPedido{ 
        font-size: 22px;
        padding: 10px;
        text-align: center;
        display: none;
       
    }
    
    .tituloPedido{
        box-shadow: none;
        text-align: center;
        border: none;
        background: transparent;
       
        

    }

    .contenedorFramesPedido{
        flex-direction: column;
        flex-flow: column-reverse;

        align-items: center;
    }

    .framePedido{

        background: #eee;
        
        width: 100%;
        border-radius: 0;
        height: 90vh;
        
        
        
        
       
    }
    

    #framePlatos{

        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        
        height: 80vh;
        transition: bottom 0.5s ease-in-out;
        z-index: 30;
        display:grid;
        grid-template-rows: auto 1fr auto;
        border-radius: 30px 30px 0 0;
        margin: 0;

        

        
        

    }

    #framePlatos.visible{

        bottom: 0;


    }

    #frameOrden{

        width: 100%;
        display: grid;
        grid-template-rows: auto 1fr;

    }

    .btnPedido{

        width: 30%;
        font-size: 18px;
        
    }

    .frameBotones{
        position:relative;
        
    }

    #btnEsconder{

        

        
        
        display:flex;
        justify-content: center;
        
        
        
        
    }

    #btnEsconder.active{
        
        display: none;
    }

    .frameBotones{

        margin-top: 0;
        margin: 0;

    }

    #nota{


        font-size: 13px;
        height: 55px;
        right: 32px;
        bottom: 30px;

    }

    .scrollFrame{

        width: 100%;
        scrollbar-width: none;
        height: 95%;
        

    }

    .frameSegmentedButtonsPedidos{

        height: 30px;

    }

    #scrollFramePedido{
        max-height: 90%;
        width: 90%;
    }

    #scrollFrameProductos{
        
        grid-template-columns: 1fr;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        
        
        gap: 0;
        width: 100%;
    }
}



