/*nota*/

.frameProducto{

    background: var(--white-hue);
    height: 250px;
    min-width: 220px;
    max-width: 230px;
    margin: auto;
    margin-bottom: 10px;
    

    border-radius: 20px;
   

    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;

    box-shadow: 0 0 5px 5px #6666660d;
}

.frameProducto .productoInformacion{

    display: grid;
    grid-template-rows: 1fr auto;

        
    
}

.imgComida{

    height: 120px;
    width: 130px;
    border-radius: 50%;
    margin: auto;
    background: #111;

    object-fit:contain;

}

.descripcion{

    height: 90%;
    width: 100%;
    text-align: center;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    
    
}

.descripcion #productoPrecio{

    font-size: 18px;
    color: var(--red-hue);

}
.descripcion p{
    
    
    margin: 0 ;
    font-size: 13px;
    font-weight: bold;

}

#productoNombre{

    font-size: 18px;
    font-weight: bold;
    
}

#btnAgregarPoducto{

    

    font-size: 30px;
    width: 80%;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background: var(--red-hue);
    color: var(--white-hue);
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: auto;
    
    

}



#btnAgregarPoducto:hover{

    background: var(--bright-red-hue);
    

}




                                                                    /* PEDIDO */
.framePedidoWidget{

    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    height: 70px;
    font-size: 20px;

    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    
    border-radius: 30px;
    box-shadow: 0 0 10px 2px #1112;
    background: #fff;
    align-items: center;
    text-align: center;
    padding: 10px;

}

.pedidoTotal{

    background: #444;
    color: #fff;
    height: 38px;
    width: 50px;
    border-radius: 20px;
    margin: 0 5px;
    text-align: center;
    align-content: center;
    font-size: 18px;

}

#btnSumarProducto{

    background: #00b62a;

}

.btnSumarRestar{

    height: 40px;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    background: var(--bright-red-hue);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    

}

.pedidoCantidad{

    background: #ddd;
    border-radius: 30px;
    padding: 5px;
    font-size: 18px;
}

.pedidoNombre{

    font-size: 16px;
    

}

.mainNotaWidget{

    width: 95%;
    
    margin: auto;
    margin-bottom: 15px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    padding: 15px;
    

    background: #444;
    color: #fff;
    
    box-sizing: border-box;

   

}

.frameTituloNota{

    width: 100%;
    height: 20px;
    background: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 8px;
    
    

}

.notaTitulo{

    
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    

}


.notaContenido{

   
    background: #222;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    
    color: #fff;
   

}


#btneliminarNota{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;

    align-self: flex-end;
   

    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #fff;
    cursor: pointer;
    



}

#btneliminarNota:hover{

   color: var(--bright-red-hue);

}




                                  /*MEDIA QUERYS*/



@media (max-width : 1024px){


    .frameProducto{

        width: 90%;
    }

    .btnSumarRestar{
        height: 35px;
    }

    #nota{

        height: 50px;
        bottom: 20px;

    }

}



@media (max-width : 768px){

    .mainPedidoWidget{
        font-size: 15px;
    }

    .pedidoNombre{

        font-size: 12px;

    }

    

    #nota{

        height: 40px;
        width: 100px;

    }

    .frameProducto{

        max-width: 100%;
        width: 100%;
        margin: 10px 0;
        padding: 0;

        grid-template-rows: auto 1fr;

        height: 200px;
        
        

    }

    .frameProducto .productoInformacion{


        grid-template-columns: auto 1fr;

    }

    #btnAgregarPoducto{

        height: 48px;
        width: 80%;
        font-size: 28px;

        

    }

    .descripcion{

        margin: auto;
        
        
    }

        
    .descripcion #productoPrecio{

        font-size: 30px;
     

    }

    #productoNombre{

        font-size: 25px;

        
        
        
    }

}

@media(min-width:2560px){
    .frameProducto{
        height: 410px;
        min-width: 400px;
    }

    .imgComida{

       height: 200px;
       width: 210px;


    }
    #btnAgregarPoducto{

        height: 95px;
        font-size: 50px;
       
    }

    .descripcion #productoNombre{
        font-size: 35px;
    }

    .descripcion #productoPrecio{
        font-size: 28px;
    }
    
    .descripcion p{
        font-size: 25px;
    }
    
    .framePedidoWidget{
        height: 150px;
    }
    .btnSumarRestar{
        height: 90px;
        width: 90px;
        border-radius: 100px;
        font-size: 40px;
    }

    .pedidoNombre{
        font-size: 22px;
    }
    .pedidoCantidad{
        font-size: 25px;
        padding: 20px;
        margin: 0 5px;
        text-align: center;
    }

    .pedidoTotal{
        font-size: 30px;
        padding: 20px;
        border-radius: 50px;
        width: 80px;
    }

    .mainNotaWidget{
        height: 200px;
    }

    .notaContenido{
        height: 90%;
        font-size: 23px;
    }

    .notaTitulo{
        font-size: 25px;
    }
}





