.home-button {
    width: 100%;
}

.home-button-link {
    display: block;
    min-width: 100%;
    
    border-radius: 0.5rem; 
    padding: 0.5rem 1.5rem; 
    font-size: 1.5rem;
    font-weight: bold; 
    color: var(--yellow-background-hue);    
    text-decoration: none;
    background: transparent;    
    border: none; 
    cursor: pointer; 
    transition: background-color 0.2s;
        
    text-align: left;
    box-sizing: border-box;
}

.home-button-link:hover { 
    background-color: var(--dark-red-hue);
}

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    width: 16.5rem;
    background-color: var(--red-hue);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 30;

    overflow-x: hidden;
    direction: rtl;
    box-shadow: inset -20px 0 40px var(--dark-red-hue);
}

.sidebar.open {
    transform: translateX(0);
}

.logo-container {   
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 2rem;
}

.logo-container img.logo-image {
    width: 8rem;
    height: 8rem;
    border-radius: 0.35rem;
}

.menu-items {
    margin-inline-end: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column;
    gap: 0.10rem;
    list-style: none;
}

.menu-title {
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--yellow-background-hue);
    text-align: center;
}
