.alert-subtitle {
    text-align: left;
    margin: 15px 0px;
}

.info-fields-container p {
    text-align: left;
    color: var(--dark-gray-hue);
    border-bottom: 1px solid var(--gray-hue);
    font-size: 16px;
    margin: 7px 0px;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

.products-table th {
    background-color: var(--red-hue);
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

.products-table td {
    padding: 10px 15px;
    border-bottom: 1px solid var(--dark-gray-hue);
    background-color: var(--white-hue);
    color: black;
}
